---
layout: default
---

<div class="about-col-wrapper">
  <div class="about-col about-col-1">

    {% if site.github_username %}
    <img class="user-picture" src="https://github.com/{{ site.github_username }}.png" alt="{{ site.author }}">
    {% endif %}

    <ul class="contact-list">
      {% if site.email %}
      <li>
        {% include _icons/email.html username=site.email %}
      </li>
      {% endif %}

      {% if site.curriculum.url %}
      <li>
        {% include _icons/file.html curriculum=site.curriculum %}
      </li>
      {% endif %}
    </ul>

    <ul class="contact-list">
      {% if site.author_website %}
      <li>
        {% include _icons/website.html url=site.author_website %}
      </li>
      {% endif %}
    </ul>

    {% include contactlist.html %}

  </div>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>


  {%- endif -%}


  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        {%- if site.show_image -%}
            {%- include post_list_image_card.html -%}
        {% else %}
            {%- include post_list.html -%}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>